.main {
  padding: 10px;

  @include _320px {
    padding: unset;
  }
}

.recomended-block {
  display: flex;
  justify-content: space-between;
  background: var(--light-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 60px 37px;

  &-title {
    font-size: 1.5rem;
    line-height: 1.7581rem;
  }

  .recomended-wrap {
    display: flex;
    gap: 50px;

    .recomended-item {
      background: #3D2B99;
      box-shadow: 0px 8px 12px rgba(61, 43, 153, 0.3);
      border-radius: 8px;
      padding: 10px 38px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: .2s;

      &:hover {
        filter: brightness(0.5);
      }

      &-title {
        font-size: 1.125rem;
        color: var(--light-color);
        line-height: unset;
      }
    }
  }

  @include _992px {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
    &-title {
      text-align: center;
    }

    .recomended-wrap {
      flex-wrap: wrap;
      gap: 20px;
      .recomended-item {
        flex-basis: 48.5%;
      }
    }
  }

  @include _768px {
    .recomended-item {
      flex-basis: 100% !important;
    }
  }
}

.about-block {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .about-cards {
    display: flex;
    align-items: center;
    gap: 30px;

    .about-card {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 30px;
      padding: 70px 60px;

      .about-title {
        font-size: 1.75rem;
        color: #FFF;
      }

      .about-desc {
        color: var(--light-color);
        line-height: 21.09px;
      }

      .about-btn {
        align-self: center;
        position: absolute;
        bottom: -20px;
      }

      &:first-child {
        background: url(../img/about-card-bg1.jpg) no-repeat;
        background-size: cover;
      }
      &:last-child {
        background: url(../img/about-card-bg2.jpg) no-repeat;
        background-size: cover;
      }
    }
  }

  @include _992px {
    flex-wrap: wrap;
    gap: 40px;
    .about-cards {
      flex-basis: 100%;
    }
  }

  @include _768px {
    .about-cards {
      flex-wrap: wrap;
    

      .about-card {
        flex-basis: 100%;
      }
    }
  }
}

.course-block {
  text-align: center;
  background: #F1F3F6;
  padding: 40px 0 150px;

  .course-title {
    margin-bottom: 50px;
  }

  .course-item-container {
    position: relative;
  }

  .course-item-wrap {
    position: absolute;
    bottom: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .course-item {
      max-width: 370px;
      padding: 40px 60px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .course-item-title {
        color: var(--light-color);
        font-size: 1.5rem;
      }

      .course-item-desc {
        max-width: 250px;
        color: var(--light-color);
        font-size: 1.125rem;
      }

      .course-list {
        color: #FFF;
      }

      .course-btn {
        background: var(--light-color);
      }

      &:nth-child(1) {
        background: linear-gradient(34.87deg, #4776E6 1.22%, #8E54E9 97.88%);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
        border-radius: 24px;
      }
      &:nth-child(2) {
        background: linear-gradient(90deg, #ADD100 0%, #7B920A 100%);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
        border-radius: 24px;
      }
      &:nth-child(3) {
        background: linear-gradient(33.88deg, #FE6201 6.73%, #ED4B7C 96.13%);
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
        border-radius: 24px;
      }
    }

    @include _992px {
      flex-wrap: wrap;
      justify-content: center;

      .course-card {
        flex-basis: 50%;

      }
    }
  }
}

.review-block {
  position: relative;
  margin-top: 500px;
  background: linear-gradient(90deg,#F1F3F6 50%, #FFF 50%);
  border-radius: 0px 12px 0px 0px;
  padding: 55px 0;
а
  .arrow-btns {
    position: absolute;
    top: 240px;
    right: 250px;

    display: flex;
    gap: 25px;
  }

  .review-card {
    position: absolute;
    transform: translateX(50%);
    top: 60px;
    max-width: 770px;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .review-info .start {
      margin-bottom: 17px;
      align-self: flex-start;
    }

    .review-info .end {
      margin-top: 17px;
      align-self: flex-end;
    }

    .review-info {
      display: flex;
      flex-direction: column;
    }

    .review-content {
      line-height: 18.75px;
      font-style: italic;
      text-align: center;
    }

    .review-author {
      margin-top: 20px;
      align-self: end;
      font-size: 16px;
    }

    &-avatar {
      position: absolute;
      top: -60px;
    }
  }

  @include _1200px {
    justify-content: center;
    text-align: center;
    background: #F1F3F6;

    .arrow-btns {
      position: unset;
      justify-content: center;
      margin: 20px 0;
    }
    .review-card {
      position: relative;
      transform: unset;
      margin: 0 auto;
    }
  }

  @include _992px {
    margin-top: 1000px;
  }

  @include _768px {
    margin-top: 1500px;
  }
}

.teacher-block {
  position: relative;
  margin-top: 250px;
  background: url('../img/teacher-block-bg.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  padding: 50px 0 175px;

  .teacher-block-title {
    color: var(--light-color);
  }

  .teacher-item-container {
    top: 50%;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50px;
    z-index: 1;

    .teacher-item {
      display: flex;
      flex-direction: column;

      .teacher-item-image {
        background: url('../img/teacher-item-bg.svg') no-repeat;
        background-size: 80%;
        background-position: center;

        padding: 55px;
      }

      .teacher-item-title {
        font-size: 24px;
        line-height: unset;
      }
    }
  }

  @include _1200px {
    max-height: 250px;
    
    .teacher-item-container {
      position: unset;   
      top: unset;
      left: unset;
      flex-wrap: wrap;
      gap: 25px;

      .teacher-item {
        flex-basis: 40%;

        .teacher-item-image {
          background-size: contain;
        }
      }
    }
  }
}